.box {
  margin-top: 10px;
  border: 1px solid mediumpurple;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  width: 100%;
}

.person-container {
  margin-top: 50px;
  margin-left: 15%;
  border: 1px solid palevioletred;
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  background-color: snow;
}

.create-person-container {
  margin-top: 50px;
  margin-left: 7%;
  border: 1px solid palevioletred;
  border-radius: 15px;
  padding: 20px;
  width: 85%;
  background-color: snow;
}