.form-group-list {
  margin-top: 10px;
  background-color: lavender;
  width: 25%;
}

.dropdown-style {
  background-color: rgb(242, 203, 242);
  color: black;
}

.btn-btn {
  background-color: pink;
}

.children-list {
  margin-left: 10px;
}

.each-input {
  width: 75%;
}

.forms {
  margin-top: 20px;
}

span {
  font-weight: 700;
}
